<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #444654;
      color: #ffffff;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      min-height: 100vh;
      flex-direction: column;
    }
    .header {
      background-color: #007bff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header__logo {
      font-weight: bold;
      font-size: 20px;
    }
    .header__navigation {
      display: flex;
      align-items: center;
    }
    .header__navigation a {
      color: #ffffff;
      text-decoration: none;
      margin-right: 10px;
      transition: color 0.3s ease;
    }
    .header__navigation a:hover {
      color: #ffcc00;
    }
 
    .main-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 130px);
    }
    .video {
      margin-bottom: 20px;
      max-width: 100%;
    }
    .footer {
      background-color: #007bff;
      padding: 10px;
      text-align: center;
    }

    @media (max-width: 576px) {
      .header {
        flex-wrap: wrap;
        justify-content: center;
      }
      .header__navigation {
        margin-top: 10px;
      }
      .header__user-links {
        display: none;
      }
    }
    .header__navigation .activeee {
        color: #ffcc00;

    }
  </style>
   <script>
    function logout() {
      fetch('/logout', { method: 'GET' })
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })
        .catch(error => {
          console.error('Ошибка при выходе:', error);
        });
    }
  </script>
</head>
<body>
  <div class="header">
    <div class="header__logo">
      Физкультура
    </div>
    <div class="header__navigation">
      <a href="/security" class="activeee">Техника безопасности</a>
      <a href="/set">Настройки</a>
      <div class="header__user">
        <a href="#" onclick="logout()">Выйти</a>
    </div>
    </div>
  </div>

  <div class="main-content">
    <div class="container">
        <h1 class="mt-4">ТЕХНИКА БЕЗОПАСНОСТИ НА ЗАНЯТИЯХ ФИЗИЧЕСКОЙ КУЛЬТУРЫ</h1>
    
        <h2 class="mt-4">ВВОДНЫЕ ПОЛОЖЕНИЯ ТЕХНИКИ БЕЗОПАСНОСТИ НА ЗАНЯТИЯХ ФИЗКУЛЬТУРЫ</h2>
        <p>Во время проведения занятий по физкультуре возможны следующие факторы воздействия на обучающихся: травмы при падении на твердом покрытии или грунте, травмы при нахождении в секторе броска, травмы вследствие плохой разминки, травмы при столкновении и нарушении правил спортивных игр или обращения со спортивным инвентарем. Для минимизации рисков необходимо придерживаться техники безопасности.</p>
    
        <h2 class="mt-4">ПРАВИЛА ДОПУСКА И ОФОРМЛЕНИЯ НА ЗАНЯТИЯ ПО ФИЗИЧЕСКОЙ КУЛЬТУРЕ</h2>
        <ul>
          <li>На занятиях по физической культуре допускаются только обучающиеся, которые прошли инструктаж по технике безопасного поведения.</li>
          <li>Участвуют только студенты, которые имеют соответствующий уровень допуска из медицинского учреждения и предоставили преподавателю документ.</li>
          <li>Обучающиеся, имеющие освобождение от занятий по физкультуре, должны присутствовать на занятии и предоставить справку из медицинской организации после болезни.</li>
          <li>Для занятий необходима чистая спортивная обувь и спортивная форма, соответствующие месту проведения занятий. Если занятие проводится на улице, спортивная одежда и обувь должны соответствовать погодным условиям.</li>
          <li>Запрещено жевать жевательную резинку или употреблять пищу на занятиях физкультуры.</li>
          <li>После физической нагрузки не рекомендуется пить холодную воду, чтобы избежать простудных заболеваний.</li>
        </ul>
    
        <h2 class="mt-4">ТЕХНИКА БЕЗОПАСНОСТИ ДО НАЧАЛА ЗАНЯТИЙ</h2>
        <ul>
          <li>Студенты должны переодеваться в специально отведенном для этих целей помещении - раздевалке. Юноши и девушки должны переодеваться в раздельных помещениях. На занятие должны выходить в спортивной форме и обуви.</li>
          <li>Перед занятием необходимо снять с себя и убрать из карманов все предметы, которые могут представлять опасность при занятиях физкультурой, такие как браслеты, кольца, часы и т. д.</li>
          <li>С разрешения преподавателя студенты могут приходить на место проведения занятия.</li>
          <li>Перед занятием студенты могут аккуратно подготовить спортивный инвентарь с разрешения преподавателя.</li>
          <li>По команде обучающиеся должны встать в строй для начала проведения занятия.</li>
        </ul>
    
        <h2 class="mt-4">ИНСТРУКЦИЯ ПО ТЕХНИКЕ БЕЗОПАСНОСТИ ВО ВРЕМЯ ЗАНЯТИЙ</h2>
        <ul>
          <li>Необходимо внимательно слушать и неукоснительно выполнять инструкции преподавателя по технике безопасности на занятиях по физкультуре.</li>
          <li>Выполнять упражнения и брать спортивный инвентарь можно только после соответствующего разрешения преподавателя.</li>
          <li>При выполнении группового забега на короткую дистанцию следует бежать только по своей дорожке.</li>
          <li>После пересечения финишной черты обучающийся не должен резко останавливаться для минимизации риска получения травмы.</li>
          <li>При выполнении акробатических элементов или сложных упражнений необходимо выполнять их только под присмотром преподавателя или инструктора.</li>
          <li>Запрещается применять силу или оказывать насилие над другими обучающимися на занятиях по физкультуре.</li>
          <li>Во время игр и соревнований необходимо соблюдать правила и проявлять уважение к партнерам и соперникам.</li>
        </ul>
    
        <h2 class="mt-4">ПРАВИЛА ПОСЛЕ ЗАВЕРШЕНИЯ ЗАНЯТИЙ</h2>
        <ul>
          <li>После окончания занятий необходимо аккуратно сложить спортивный инвентарь и убрать его в специально отведенное место.</li>
          <li>Студенты должны принять душ после занятий, используя гигиенические средства и сменную одежду.</li>
          <li>Запрещено оставлять в раздевалках или на спортивной площадке вещи, деньги и ценности.</li>
          <li>Учащимся необходимо следить за порядком в раздевалках, на спортивной площадке и других помещениях.</li>
          <li>При возникновении травм или необычных ощущений после занятий следует обратиться к медицинскому работнику.</li>
        </ul>
      </div>
      <div class="alert alert-warning" role="alert">
        Внимательно прочтите текст. После чего вы можете <a href="/test">начать проходить тест</a>.
      </div>
  </div>

  <div class="footer">
    Заказчик Володин Евгений Александрович, Исполнитель Лукавский Виктор Анатольевич, руководитель Баймухан Айбек Болатбекович.
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
