<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css">
  <style>
    body {
      background-color: #444654;
      color: #ffffff;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: space-between;
      min-height: 100vh;
      flex-direction: column;
    }
    .header {
      background-color: #007bff;
      padding: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .header__logo {
      font-weight: bold;
      font-size: 20px;
    }
    .header__navigation {
      display: flex;
      align-items: center;
    }
    .header__navigation a {
      color: #ffffff;
      text-decoration: none;
      margin-right: 10px;
      transition: color 0.3s ease;
    }
    .header__navigation a:hover {
      color: #ffcc00;
    }
 
    .main-content {
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: calc(100vh - 130px);
    }
    .video {
      margin-bottom: 20px;
      max-width: 100%;
    }
    .footer {
      background-color: #007bff;
      padding: 10px;
      text-align: center;
    }

    @media (max-width: 576px) {
      .header {
        flex-wrap: wrap;
        justify-content: center;
      }
      .header__navigation {
        margin-top: 10px;
      }
      .header__user-links {
        display: none;
      }
    }
    .header__navigation .activeee {
        color: #ffcc00;

    }
  </style>
   <script>
    function logout() {
      fetch('/logout', { method: 'GET' })
        .then(response => {
          if (response.redirected) {
            window.location.href = response.url;
          }
        })
        .catch(error => {
          console.error('Ошибка при выходе:', error);
        });
    }
  </script>
</head>
<body>
  <div class="header">
    <div class="header__logo">
      Физкультура
    </div>
    <div class="header__navigation">
      <a href="/security">Техника безопасности</a>
      <a href="/set">Настройки</a>
      <div class="header__user">
        <% if (user.role === 'admin') { %>
            <a href="/adm">Админ панель</a>
          <% } %>
        <a href="#" onclick="logout()">Выйти</a>
    </div>
    </div>
  </div>

  <div class="main-content">
    <div class="container text-center">
        <% if (testResult) { %>
            <% if (testResult.result >= 50) { %>
              <div class="alert alert-success" role="alert">
                Вы допущены к уроку, так как у вас <%= testResult.result.toFixed(2) %>%
                <br>
                <a href="/res">Мои попытки</a>
              </div>
            <% } else { %>
              <div class="alert alert-danger" role="alert">
                Вы не допущены к уроку, так как у вас <%= testResult.result.toFixed(2) %>%
                <br>
                <a href="/res">Мои попытки</a>

              </div>
            <% } %>
          <% } else if (user.testCompleted) { %>
            <div class="alert alert-info" role="alert">
              Вы еще не проходили тест, пожалуйста пройдите.
            </div>
          <% } %>
      </div>
      

    <form action="/test" method="POST">
        <p>Что предполагает техника безопасности на занятиях физкультуры?</p>
        <input type="radio" name="q1" value="a"> a) Максимизацию травматизма во время занятий<br>
        <input type="radio" name="q1" value="b" data-correct="true"> b) Минимизацию травматизма во время занятий<br>
        <input type="radio" name="q1" value="c"> c) Отсутствие правил безопасности<br>
        <input type="radio" name="q1" value="d"> d) Нет правильного ответа<br>
    
        <p>Кто обязан выполнить правила техники безопасности на занятиях физкультуры?</p>
        <input type="radio" name="q2" value="a"> a) Только преподаватель<br>
        <input type="radio" name="q2" value="b"> b) Только студенты<br>
        <input type="radio" name="q2" value="c"> c) Только руководство учреждения<br>
        <input type="radio" name="q2" value="d" data-correct="true"> d) Все участники образовательного процесса<br>
    
        <p>Какие предметы следует убрать перед занятиями физкультуры?</p>
        <input type="radio" name="q3" value="a" data-correct="true"> a) Браслеты, кольца, часы и т.д.<br>
        <input type="radio" name="q3" value="b"> b) Учебники и тетради<br>
        <input type="radio" name="q3" value="c"> c) Мобильные телефоны<br>
        <input type="radio" name="q3" value="d"> d) Все личные вещи<br>
    
        <p>Какой тип обуви должен быть на занятиях физической культуры?</p>
        <input type="radio" name="q4" value="a"> a) Любая обувь<br>
        <input type="radio" name="q4" value="b"> b) Туфли на каблуке<br>
        <input type="radio" name="q4" value="c" data-correct="true"> c) Спортивная обувь, соответствующая месту проведения занятий<br>
        <input type="radio" name="q4" value="d"> d) Босиком<br>
    
        <p>Запрещено ли употреблять пищу на занятиях физкультуры?</p>
        <input type="radio" name="q5" value="a"> a) Разрешено<br>
        <input type="radio" name="q5" value="b" data-correct="true"> b) Запрещено<br>
    
        <p>Какие травмы могут возникнуть на занятиях физической культуры?</p>
        <input type="radio" name="q6" value="a" data-correct="true"> a) Травмы от недостатка разминки<br>
        <input type="radio" name="q6" value="b" data-correct="true"> b) Травмы при падении на твердом покрытии<br>
        <input type="radio" name="q6" value="c" data-correct="true"> c) Травмы при нахождении в секторе броска<br>
        <input type="radio" name="q6" value="d" data-correct="true"> d) Все варианты верны<br>
    
        <p>Кто допускается на занятия по физической культуре?</p>
        <input type="radio" name="q7" value="a"> a) Только обучающиеся без медицинского уровня допуска<br>
        <input type="radio" name="q7" value="b"> b) Только обучающиеся с медицинским уровнем допуска<br>
        <input type="radio" name="q7" value="c"> c) Любые студенты, независимо от медицинского уровня допуска<br>
        <input type="radio" name="q7" value="d" data-correct="true"> d) Только студенты, не имеющие освобождения от занятий<br>
   
        <button type="submit">Сохранить</button>

    </form>
    


      
      
  </div>

  <div class="footer">
    Заказчик Володин Евгений Александрович, Исполнитель Лукавский Виктор Анатольевич, руководитель Баймухан Айбек Болатбекович.
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.bundle.min.js"></script>
</body>
</html>
